<div class="wrapper">
  <div class="card" [@cardAnimation] [formGroup]="form">
    <div class="top-section">
      <input pInputText formControlName="search" placeholder="Search" class="search-input" />
      <button pButton type="button" label="Advanced Search" class="advanced-btn"></button>
    </div>

    <div class="filter-section">
      <p-checkbox formControlName="match"></p-checkbox>
      <label class="match-label">Match</label>
      <p-select formControlName="matchType" [options]="config.match" optionLabel="label" optionValue="value"></p-select>
      <span>of the following rules:</span>
    </div>

    <div formArrayName="rules" class="rules">
        <div class="rule-row" *ngFor="let group of rules.controls; let i = index" [formGroupName]="i" [@ruleAnimation]>
        <p-select formControlName="field" [options]="config.fields" optionLabel="label" optionValue="value">
          <ng-template let-option pTemplate="selectedItem">
            <fa-icon [icon]="option.icon"></fa-icon>
            <span>{{ option.label }}</span>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="field-option">
              <fa-icon [icon]="option.icon"></fa-icon>
              <span>{{ option.label }}</span>
            </div>
          </ng-template>
        </p-select>
        <p-select
          formControlName="operator"
          [options]="config.operators"
          optionLabel="label"
          optionValue="value"
        ></p-select>
        <input pInputText formControlName="value" />
        <button pButton type="button" class="icon-btn" (click)="addRule(i + 1)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button pButton type="button" class="icon-btn" (click)="removeRule(i)" *ngIf="rules.length > 1">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>

    <div class="date-section" formGroupName="dateRange">
      <label>Select Date</label>
      <p-select formControlName="type" [options]="config.dates" optionLabel="label" optionValue="value"></p-select>
      <div class="custom-dates" *ngIf="form.get('dateRange.type')?.value === 'custom'">
        <p-datepicker formControlName="from" dateFormat="yy-mm-dd"></p-datepicker>
        <p-datepicker formControlName="to" dateFormat="yy-mm-dd"></p-datepicker>
      </div>
    </div>

    <div class="save-filter">
      <p-checkbox formControlName="saveFilter"></p-checkbox>
      <label>Save Filter</label>
    </div>

    <div class="actions">
      <button pButton type="button" label="Cancel" class="p-button-text" (click)="onCancel()"></button>
      <button pButton type="button" label="Apply" (click)="onApply()"></button>
    </div>
  </div>
</div>
